.active {
    border-bottom: 3px #BD3E15 solid;
    cursor: pointer;
    border-radius: 14%;
    border-bottom-width: 2px;
}

.bg_color{
    background-color: #F7F7F7;
}

.text{
    color: #2563eb;
}
